*{margin: 0; padding: 0;} 
.navbar.navbar-light.bg-faded{
	background: transparent;
}
.navbar-light.menutop .navbar-nav a.nav-link{
	color: rgba(255, 255, 255, 0.5);
	padding: 95px 15px 0 15px;
	font-weight: bold;
}

.navbar-light.menutop .navbar-nav a.nav-link:hover{
	color: #fff;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
	color: white;
	padding: 95px 15px 0 15px;
	font-weight: bold;
}
.container-fluid.slide{
	padding-right: 0px;
	padding-left: 0px;
}
.col-sm-12{
	padding-right: 0px;
	padding-left: 0px;
}
.chamtron{
	margin-bottom: 0px;
}

button.btn.btn-outline-info.nutxem{
	color: #fff;
}

@media(max-width: 576px){
	*{}

.navbar-light.menutop .navbar-nav a.nav-link {
    padding-top: 10px;
}

.carousel-caption.d-none.d-md-block.text-xs-center p {
    font-size: 12px;
}

.carousel-caption.d-none.d-md-block.text-xs-center h1 {
    font-size: 19px !important;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    padding: 0px;
    padding-top:  0px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    padding-top:  0px;
    padding: 0px;
}
	nav.navbar.navbar-light.bg-faded.menutop.navbar-fixed-top{
		background: #519fe2;
		height: auto;
	}
	button.navbar-toggler.hidden-sm-up.float-xs-right.icon3gach{
		border-radius: 0px;
		border-color: #fff;
		padding: 10px 2px;
		margin-right: 5px;
	}
}